In [30]:
import pandas as pd

In [31]:
df_demand = pd.read_csv('../../dataset/Demand Forecasting/Demand Forecasting Demand Data upto Feb 21.csv', sep=',')

In [32]:
df_weather = pd.read_csv('../../dataset/Demand Forecasting/Demand Forecasting Weather Data upto Feb 28.csv', sep=',')

In [33]:
df_merged=pd.merge(left=df_demand,right=df_weather, on='datetime')

In [34]:
df_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27552 entries, 0 to 27551
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     27552 non-null  object
 1   Demand (MW)  27552 non-null  float64
dtypes: float64(1), object(1)
memory usage: 430.6+ KB

In [35]:
df_merged

,datetime,Demand (MW),Name,Temperature,feelslike,dewpoint,humidity,precipitation,precipprob,preciptype,...,visibility,solarradiation,uvindex,severerisk,conditions,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1/1/2020 0:00,445.8,Pokhara,38.0,34.4,29.0,69.76,0.0,0,NaN,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
1,1/1/2020 1:00,424.5,Pokhara,38.0,34.4,29.9,72.37,0.0,0,NaN,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
2,1/1/2020 2:00,423.5,Pokhara,38.0,35.7,30.8,75.06,0.0,0,NaN,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
3,1/1/2020 3:00,418.8,Pokhara,37.1,33.4,29.9,74.97,0.0,0,NaN,...,9.9,0.0,0,NaN,Partially cloudy,NaN,NaN,NaN,NaN,NaN
4,1/1/2020 4:00,414.8,Pokhara,35.1,32.3,29.0,78.41,0.0,0,NaN,...,9.9,0.0,0,NaN,Clear,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27547,2/21/2023 19:00,498.7,Pokhara,50.0,49.4,29.0,44.19,0.0,0,NaN,...,9.9,0.0,0,10.0,Partially cloudy,NaN,NaN,NaN,NaN,NaN
27548,2/21/2023 20:00,498.8,Pokhara,50.0,49.4,28.1,42.59,0.0,0,NaN,...,9.9,0.0,0,10.0,Partially cloudy,NaN,NaN,NaN,NaN,NaN
27549,2/21/2023 21:00,506.4,Pokhara,53.1,53.1,26.1,34.92,0.0,0,NaN,...,9.9,0.0,0,10.0,Overcast,NaN,NaN,NaN,NaN,NaN
27550,2/21/2023 22:00,478.8,Pokhara,53.1,53.1,28.1,38.02,0.0,0,NaN,...,9.9,0.0,0,10.0,Overcast,NaN,NaN,NaN,NaN,NaN
27551,2/21/2023 23:00,457.7,Pokhara,53.1,53.1,30.8,42.44,0.0,0,NaN,...,9.9,0.0,0,10.0,Overcast,NaN,NaN,NaN,NaN,NaN

In [36]:
df_merged.head()

,datetime,Demand (MW),Name,Temperature,feelslike,dewpoint,humidity,precipitation,precipprob,preciptype,...,visibility,solarradiation,uvindex,severerisk,conditions,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1/1/2020 0:00,445.8,Pokhara,38.0,34.4,29.0,69.76,0.0,0,NaN,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
1,1/1/2020 1:00,424.5,Pokhara,38.0,34.4,29.9,72.37,0.0,0,NaN,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
2,1/1/2020 2:00,423.5,Pokhara,38.0,35.7,30.8,75.06,0.0,0,NaN,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
3,1/1/2020 3:00,418.8,Pokhara,37.1,33.4,29.9,74.97,0.0,0,NaN,...,9.9,0.0,0,NaN,Partially cloudy,NaN,NaN,NaN,NaN,NaN
4,1/1/2020 4:00,414.8,Pokhara,35.1,32.3,29.0,78.41,0.0,0,NaN,...,9.9,0.0,0,NaN,Clear,NaN,NaN,NaN,NaN,NaN

Checing if Unnamed columns have any data

In [37]:
df_merged['Unnamed: 21'].notna().value_counts()

Unnamed: 21
False    27552
Name: count, dtype: int64

In [38]:
df_merged['Unnamed: 22'].notna().value_counts()

Unnamed: 22
False    27552
Name: count, dtype: int64

In [39]:
df_merged['Unnamed: 23'].notna().value_counts()

Unnamed: 23
False    27552
Name: count, dtype: int64

In [40]:
df_merged['Unnamed: 24'].notna().value_counts()

Unnamed: 24
False    27552
Name: count, dtype: int64

In [41]:
df_merged['Unnamed: 25'].notna().value_counts()

Unnamed: 25
False    27551
True         1
Name: count, dtype: int64

Since, there's no data we can remove them

In [42]:
columns_to_drop = ['Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']
df_merged.drop(columns_to_drop, inplace=True, axis=1)

In [43]:
df_merged.head()

,datetime,Demand (MW),Name,Temperature,feelslike,dewpoint,humidity,precipitation,precipprob,preciptype,...,windgust,windspeed,winddirection,sealevelpressure,cloudcover,visibility,solarradiation,uvindex,severerisk,conditions
0,1/1/2020 0:00,445.8,Pokhara,38.0,34.4,29.0,69.76,0.0,0,NaN,...,NaN,4.7,220.0,1015.4,100.0,9.9,0.0,0,NaN,Overcast
1,1/1/2020 1:00,424.5,Pokhara,38.0,34.4,29.9,72.37,0.0,0,NaN,...,NaN,4.7,230.0,1015.3,100.0,9.9,0.0,0,NaN,Overcast
2,1/1/2020 2:00,423.5,Pokhara,38.0,35.7,30.8,75.06,0.0,0,NaN,...,NaN,3.4,230.0,1015.4,100.0,9.9,0.0,0,NaN,Overcast
3,1/1/2020 3:00,418.8,Pokhara,37.1,33.4,29.9,74.97,0.0,0,NaN,...,NaN,4.7,220.0,1015.3,88.9,9.9,0.0,0,NaN,Partially cloudy
4,1/1/2020 4:00,414.8,Pokhara,35.1,32.3,29.0,78.41,0.0,0,NaN,...,NaN,3.4,240.0,1015.2,0.0,9.9,0.0,0,NaN,Clear

In [44]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27552 entries, 0 to 27551
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          27552 non-null  object
 1   Demand (MW)       27552 non-null  float64
 2   Name              27552 non-null  object
 3   Temperature       27552 non-null  float64
 4   feelslike         27552 non-null  float64
 5   dewpoint          27552 non-null  float64
 6   humidity          27552 non-null  float64
 7   precipitation     27552 non-null  float64
 8   precipprob        27552 non-null  int64
 9   preciptype        2745 non-null   object
 10  snow              27534 non-null  float64
 11  snowdepth         27534 non-null  float64
 12  windgust          12055 non-null  float64
 13  windspeed         27552 non-null  float64
 14  winddirection     27552 non-null  float64
 15  sealevelpressure  27534 non-null  float64
 16  cloudcover        27552 non-null  float64
 17  visibility        27534 non-null  float64
 18  solarradiation    27552 non-null  float64
 19  uvindex           27552 non-null  int64
 20  severerisk        9786 non-null   float64
 21  conditions        27552 non-null  object
dtypes: float64(16), int64(2), object(4)
memory usage: 4.6+ MB

In [45]:
df_merged['severerisk'].fillna(0, inplace=True)

In [46]:
df_merged.drop(["precipprob", "preciptype" ], inplace=True, axis=1)

In [47]:
df_merged.head()

,datetime,Demand (MW),Name,Temperature,feelslike,dewpoint,humidity,precipitation,snow,snowdepth,windgust,windspeed,winddirection,sealevelpressure,cloudcover,visibility,solarradiation,uvindex,severerisk,conditions
0,1/1/2020 0:00,445.8,Pokhara,38.0,34.4,29.0,69.76,0.0,0.0,0.0,NaN,4.7,220.0,1015.4,100.0,9.9,0.0,0,0.0,Overcast
1,1/1/2020 1:00,424.5,Pokhara,38.0,34.4,29.9,72.37,0.0,0.0,0.0,NaN,4.7,230.0,1015.3,100.0,9.9,0.0,0,0.0,Overcast
2,1/1/2020 2:00,423.5,Pokhara,38.0,35.7,30.8,75.06,0.0,0.0,0.0,NaN,3.4,230.0,1015.4,100.0,9.9,0.0,0,0.0,Overcast
3,1/1/2020 3:00,418.8,Pokhara,37.1,33.4,29.9,74.97,0.0,0.0,0.0,NaN,4.7,220.0,1015.3,88.9,9.9,0.0,0,0.0,Partially cloudy
4,1/1/2020 4:00,414.8,Pokhara,35.1,32.3,29.0,78.41,0.0,0.0,0.0,NaN,3.4,240.0,1015.2,0.0,9.9,0.0,0,0.0,Clear

In [48]:
df_merged['snow']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
27547    0.0
27548    0.0
27549    0.0
27550    0.0
27551    0.0
Name: snow, Length: 27552, dtype: float64

In [49]:
df_merged['snow']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
27547    0.0
27548    0.0
27549    0.0
27550    0.0
27551    0.0
Name: snow, Length: 27552, dtype: float64

In [50]:
for column in df_merged.columns[3:18]:
    df_merged[column] = df_merged[column].interpolate(method='linear', limit_direction='forward', axis=0)

In [51]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27552 entries, 0 to 27551
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          27552 non-null  object
 1   Demand (MW)       27552 non-null  float64
 2   Name              27552 non-null  object
 3   Temperature       27552 non-null  float64
 4   feelslike         27552 non-null  float64
 5   dewpoint          27552 non-null  float64
 6   humidity          27552 non-null  float64
 7   precipitation     27552 non-null  float64
 8   snow              27552 non-null  float64
 9   snowdepth         27552 non-null  float64
 10  windgust          27539 non-null  float64
 11  windspeed         27552 non-null  float64
 12  winddirection     27552 non-null  float64
 13  sealevelpressure  27552 non-null  float64
 14  cloudcover        27552 non-null  float64
 15  visibility        27552 non-null  float64
 16  solarradiation    27552 non-null  float64
 17  uvindex           27552 non-null  int64
 18  severerisk        27552 non-null  float64
 19  conditions        27552 non-null  object
dtypes: float64(16), int64(1), object(3)
memory usage: 4.2+ MB

In [52]:
df_merged.drop(['windgust'], inplace=True, axis=1)

In [53]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27552 entries, 0 to 27551
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          27552 non-null  object
 1   Demand (MW)       27552 non-null  float64
 2   Name              27552 non-null  object
 3   Temperature       27552 non-null  float64
 4   feelslike         27552 non-null  float64
 5   dewpoint          27552 non-null  float64
 6   humidity          27552 non-null  float64
 7   precipitation     27552 non-null  float64
 8   snow              27552 non-null  float64
 9   snowdepth         27552 non-null  float64
 10  windspeed         27552 non-null  float64
 11  winddirection     27552 non-null  float64
 12  sealevelpressure  27552 non-null  float64
 13  cloudcover        27552 non-null  float64
 14  visibility        27552 non-null  float64
 15  solarradiation    27552 non-null  float64
 16  uvindex           27552 non-null  int64
 17  severerisk        27552 non-null  float64
 18  conditions        27552 non-null  object
dtypes: float64(15), int64(1), object(3)
memory usage: 4.0+ MB

In [54]:
df_merged['snow']=df_merged['snow'].interpolate(method='linear', limit_direction='forward', axis=0)
df_merged['snowdepth']=df_merged['snowdepth'].interpolate(method='linear', limit_direction='forward', axis=0)

In [55]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27552 entries, 0 to 27551
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          27552 non-null  object
 1   Demand (MW)       27552 non-null  float64
 2   Name              27552 non-null  object
 3   Temperature       27552 non-null  float64
 4   feelslike         27552 non-null  float64
 5   dewpoint          27552 non-null  float64
 6   humidity          27552 non-null  float64
 7   precipitation     27552 non-null  float64
 8   snow              27552 non-null  float64
 9   snowdepth         27552 non-null  float64
 10  windspeed         27552 non-null  float64
 11  winddirection     27552 non-null  float64
 12  sealevelpressure  27552 non-null  float64
 13  cloudcover        27552 non-null  float64
 14  visibility        27552 non-null  float64
 15  solarradiation    27552 non-null  float64
 16  uvindex           27552 non-null  int64
 17  severerisk        27552 non-null  float64
 18  conditions        27552 non-null  object
dtypes: float64(15), int64(1), object(3)
memory usage: 4.0+ MB

In [56]:
#with demandMW
for column in df_merged.columns[3:18]:
    print(f"Correlation of price with {column}: {df_merged['Demand (MW)'].corr(df_merged[column])}")

Correlation of price with Temperature: 0.45233960384840355
Correlation of price with feelslike: 0.441472933404926
Correlation of price with dewpoint: 0.3626129965433106
Correlation of price with humidity: -0.19572462989123404
Correlation of price with precipitation: -0.01703203825114375
Correlation of price with snow: 0.015329744060287654
Correlation of price with snowdepth: 0.05360803598398459
Correlation of price with windspeed: 0.06389316675486967
Correlation of price with winddirection: 0.05303417125254191
Correlation of price with sealevelpressure: -0.029717039764268365
Correlation of price with cloudcover: -0.06553044175434337
Correlation of price with visibility: 0.08506004019113429
Correlation of price with solarradiation: 0.37546701739356325
Correlation of price with uvindex: 0.37277231672656097
Correlation of price with severerisk: 0.23056008626748425

In [57]:
df_merged.drop(['feelslike','uvindex', 'precipitation', 'sealevelpressure', 'windspeed', 'winddirection'], inplace=True, axis=1)

In [ ]:
df_merged["solarradiation"].corr(df_merged["uvindex"])

0.9963920843433209

In [ ]:
df_merged["Temperature"].corr(df_merged["feelslike"])

0.9941671111931236

In [ ]:
df_merged['snow'].corr(df_merged['Demand (MW)'])

0.015329744060287654

In [ ]:
df_merged['snowdepth'].corr(df_merged['Demand (MW)'])

0.05360803598398459

In [ ]:
df_merged['Temperature'].corr(df_merged['Demand (MW)'])

0.45233960384840355

In [ ]:
df_merged=df_merged.drop(['snow'], axis=1)

In [60]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27552 entries, 0 to 27551
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   datetime        27552 non-null  object
 1   Demand (MW)     27552 non-null  float64
 2   Name            27552 non-null  object
 3   Temperature     27552 non-null  float64
 4   dewpoint        27552 non-null  float64
 5   humidity        27552 non-null  float64
 6   snow            27552 non-null  float64
 7   snowdepth       27552 non-null  float64
 8   cloudcover      27552 non-null  float64
 9   visibility      27552 non-null  float64
 10  solarradiation  27552 non-null  float64
 11  severerisk      27552 non-null  float64
 12  conditions      27552 non-null  object
dtypes: float64(10), object(3)
memory usage: 2.7+ MB

In [63]:
df_merged.to_csv('weather.csv', index=False)