In [1]:
import pandas as pd

In [7]:
df_demand = pd.read_csv('../../dataset/Demand Forecasting/Demand Forecasting Demand Data upto Feb 21.csv', sep=',')

In [8]:
df_weather = pd.read_csv('../../dataset/Demand Forecasting/Demand Forecasting Weather Data upto Feb 28.csv', sep=',')

In [9]:
df_price = pd.read_csv('../../dataset/Price forecasting/Price Forecasting data upto December 24.csv', sep=',')

In [10]:
df_price.head()

  Delivery Day Hours  Prices\n(EUR/MWh)
0     1/1/2020    H1              26.38
1     1/1/2020    H2              26.50
2     1/1/2020    H3              27.01
3     1/1/2020    H4              27.40
4     1/1/2020    H5              27.99

In [11]:
df_demand.head()

        datetime  Demand (MW)
0  1/1/2020 0:00        445.8
1  1/1/2020 1:00        424.5
2  1/1/2020 2:00        423.5
3  1/1/2020 3:00        418.8
4  1/1/2020 4:00        414.8

In [12]:
df_weather.head()

,Name,datetime,Temperature,feelslike,dewpoint,humidity,precipitation,precipprob,preciptype,snow,...,visibility,solarradiation,uvindex,severerisk,conditions,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Pokhara,1/1/2020 0:00,38.0,34.4,29.0,69.76,0.0,0,NaN,0.0,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
1,Pokhara,1/1/2020 1:00,38.0,34.4,29.9,72.37,0.0,0,NaN,0.0,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
2,Pokhara,1/1/2020 2:00,38.0,35.7,30.8,75.06,0.0,0,NaN,0.0,...,9.9,0.0,0,NaN,Overcast,NaN,NaN,NaN,NaN,NaN
3,Pokhara,1/1/2020 3:00,37.1,33.4,29.9,74.97,0.0,0,NaN,0.0,...,9.9,0.0,0,NaN,Partially cloudy,NaN,NaN,NaN,NaN,NaN
4,Pokhara,1/1/2020 4:00,35.1,32.3,29.0,78.41,0.0,0,NaN,0.0,...,9.9,0.0,0,NaN,Clear,NaN,NaN,NaN,NaN,NaN

Checing if Unnamed columns have any data

In [14]:
df_weather['Unnamed: 21'].notna().value_counts()

Unnamed: 21
False    27720
Name: count, dtype: int64

In [15]:
df_weather['Unnamed: 22'].notna().value_counts()

Unnamed: 22
False    27720
Name: count, dtype: int64

In [16]:
df_weather['Unnamed: 23'].notna().value_counts()

Unnamed: 23
False    27720
Name: count, dtype: int64

In [17]:
df_weather['Unnamed: 24'].notna().value_counts()

Unnamed: 24
False    27720
Name: count, dtype: int64

In [18]:
df_weather['Unnamed: 25'].notna().value_counts()

Unnamed: 25
False    27719
True         1
Name: count, dtype: int64

Since, there's no data we can remove them

In [19]:
columns_to_drop = ['Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']
df_weather.drop(columns_to_drop, inplace=True, axis=1)

In [20]:
df_weather.head()

,Name,datetime,Temperature,feelslike,dewpoint,humidity,precipitation,precipprob,preciptype,snow,...,windgust,windspeed,winddirection,sealevelpressure,cloudcover,visibility,solarradiation,uvindex,severerisk,conditions
0,Pokhara,1/1/2020 0:00,38.0,34.4,29.0,69.76,0.0,0,NaN,0.0,...,NaN,4.7,220.0,1015.4,100.0,9.9,0.0,0,NaN,Overcast
1,Pokhara,1/1/2020 1:00,38.0,34.4,29.9,72.37,0.0,0,NaN,0.0,...,NaN,4.7,230.0,1015.3,100.0,9.9,0.0,0,NaN,Overcast
2,Pokhara,1/1/2020 2:00,38.0,35.7,30.8,75.06,0.0,0,NaN,0.0,...,NaN,3.4,230.0,1015.4,100.0,9.9,0.0,0,NaN,Overcast
3,Pokhara,1/1/2020 3:00,37.1,33.4,29.9,74.97,0.0,0,NaN,0.0,...,NaN,4.7,220.0,1015.3,88.9,9.9,0.0,0,NaN,Partially cloudy
4,Pokhara,1/1/2020 4:00,35.1,32.3,29.0,78.41,0.0,0,NaN,0.0,...,NaN,3.4,240.0,1015.2,0.0,9.9,0.0,0,NaN,Clear